@namespace Nixill.AdventOfCode.Year2025
@rendermode InteractiveServer

@page "/days/6"
@using BlazorBootstrap
@using System.Text.RegularExpressions
@using Nixill.Collections
@using Nixill.Utils
@using Nixill.Utils.Extensions
@using CharGrid = Nixill.Collections.Grid<char>

<h1>Day 6: Trash Compactor</h1>

<p>Math equations go here:</p>

<form @onsubmit="() => AcceptInput()" @formname="day-6-input">
  <TextAreaInput style="font-family:monospace;" @bind-Value="@MathSheet" /> <Button @onclick="() => AcceptInput()"
    Color="ButtonColor.Success">Submit</Button>
</form>

<p>
  You can also select a file to load all of its math equations at once:<br />
  @foreach (var file in Directory.EnumerateFiles(Directory.GetParent(Directory.GetCurrentDirectory())?.FullName +
    "/AoC2025Data/day6"))
  {
    ButtonColor color;
    if (Path.GetFileName(file) == "input.txt") color = ButtonColor.Primary;
    else color = ButtonColor.Secondary;
    <Button @onclick="() => ParseFile(file)" Color="color">@Path.GetFileName(file)</Button>
  }
</p>

<p>
  And lastly, you can clear the math equations by clicking <Button @onclick="() => ResetEverything()"
    Color="ButtonColor.Danger">here</Button>.
</p>

<p>The equations may be viewed below:</p>

<table style="border: 1px #b42b42; width: 500px;">
  <thead>
    <tr>
      <th style="width: 50%;">Part 1 total: @TotalP1</th>
      <th style="width: 50%;">Part 2 total: @TotalP2</th>
    </tr>
    <tr>
      <th>Part 1 equations below:</th>
      <th>Part 2 equations below:</th>
    </tr>
    @foreach (var equations in EquationPairs) {
      <tr>
        <td>
          @equations.ValuesP1.StringJoin($" {equations.Operation switch {D6Operation.Multiplication => "×", _ => "+"}} ")
          = <strong>@equations.ResultP1</strong>
        </td>
        <td>
          @equations.ValuesP2.StringJoin($" {equations.Operation switch {D6Operation.Multiplication => "×", _ => "+"}} ")
          = <strong>@equations.ResultP2</strong>
        </td>
      </tr>
    }
  </thead>
</table>

@* <p>
  The grand total of all equations is <strong>@Total</strong>. The equations are individually listed below:
</p>

<ol>
  @foreach (var equation in EquationPairs) {
    <li>
      @equation.Values.StringJoin($" {equation.Operation switch {D6Operation.Multiplication => "×", _ => "+"}} ")
      = <strong>@equation.Result</strong>
    </li>
  }
</ol> *@

@code
{
  string MathSheet = "";
  long TotalP1 = 0;
  long TotalP2 = 0;
  List<D6EquationPair> EquationPairs = [];

  private void AcceptInput()
  {
    ParseSheet();
  }

  void ParseFile(string fileName)
  {
    MathSheet = File.ReadAllText(fileName);
    ParseSheet();
  }

  void ResetEverything()
  {
    MathSheet = "";
  }

  void ParseSheet()
  {
    TotalP1 = 0;
    TotalP2 = 0;
    EquationPairs = [];

    CharGrid grid = MathSheet.Split(["\r\n", "\r", "\n"], StringSplitOptions.RemoveEmptyEntries).ToGrid2D(' ');

    // Split into individual equations
    var transposedEquations = grid.Columns.SplitOn(col => col.All(c => c == ' '));

    @* // Reform those equations
    var equations = transposedEquations.Select(eq => eq.ToGrid2D(' ').Columns.Select(c => c.FormString()).ToArray()); *@

    foreach (var eq in transposedEquations)
    {
      // Part 1
      var p1equation = eq.ToGrid2D(' ').Columns.Select(c => c.FormString()).Where(n => n.Trim() != "");
      var numberLinesP1 = p1equation.SkipLast(1);
      var numbersP1 = numberLinesP1.Select(s => long.Parse(s.Trim()));
      var operation = p1equation.Last().Trim() switch {
        "+" => D6Operation.Addition,
        "*" => D6Operation.Multiplication,
        _ => D6Operation.Unknown
      };

      // Part 2
      var numbersP2 = eq.Select(e => long.Parse(e.SkipLast(1).FormString().Trim()));

      var newEquations = new D6EquationPair(operation, numbersP1, numbersP2);
      EquationPairs.Add(newEquations);
      TotalP1 += newEquations.ResultP1;
      TotalP2 += newEquations.ResultP2;
    }
  }

  public record struct D6EquationPair(D6Operation Operation, IEnumerable<long> ValuesP1, IEnumerable<long> ValuesP2)
  {
    public long ResultP1 => Operation switch {
      D6Operation.Multiplication => ValuesP1.Aggregate((l, r) => l * r),
      _ => ValuesP1.Sum()
    };

    public long ResultP2 => Operation switch {
      D6Operation.Multiplication => ValuesP2.Aggregate((l, r) => l * r),
      _ => ValuesP2.Sum()
    };
  }

  public enum D6Alignment
  {
    LeftAligned = -1,
    Unknown = 0,
    RightAligned = 1
  }

  public enum D6Operation
  {
    Unknown = 0,
    Addition = 1,
    Multiplication = 2
  }
}