@namespace Nixill.AdventOfCode.Year2025
@rendermode InteractiveServer

@page "/days/6"
@using BlazorBootstrap
@using System.Text.RegularExpressions
@using Nixill.Collections
@using Nixill.Utils
@using Nixill.Utils.Extensions
@using CharGrid = Nixill.Collections.Grid<char>

<h1>Day 6: Trash Compactor</h1>

<p>Math equations go here:</p>

<form @onsubmit="() => AcceptInput()" @formname="day-6-input">
  <TextAreaInput style="font-family:monospace;" @bind-Value="@MathSheet" /> <Button @onclick="() => AcceptInput()"
    Color="ButtonColor.Success">Submit</Button>
</form>

<p>
  You can also select a file to load all of its math equations at once:<br />
  @foreach (var file in Directory.EnumerateFiles(Directory.GetParent(Directory.GetCurrentDirectory())?.FullName +
    "/AoC2025Data/dayX"))
  {
    ButtonColor color;
    if (Path.GetFileName(file) == "input.txt") color = ButtonColor.Primary;
    else color = ButtonColor.Secondary;
    <Button @onclick="() => ParseFile(file)" Color="color">@Path.GetFileName(file)</Button>
  }
</p>

<p>
  And lastly, you can clear the math equations by clicking <Button @onclick="() => ResetEverything()"
    Color="ButtonColor.Danger">here</Button>.
</p>

<p>
  The grand total of all equations is <strong>@Total</strong>. The equations are individually listed below:
</p>

<ol>
  @foreach (var equation in Equations) {
    <li>
      @equation.Values.StringJoin($" {equation.Operation switch {D6Operation.Multiplication => "×", _ => "+"}} ")
      = <strong>@equation.Result</strong>
    </li>
  }
</ol>

@code
{
  string MathSheet = "";
  long Total = 0;
  List<D6Equation> Equations = [];

  private void AcceptInput()
  {
    ParseSheet();
  }

  void ParseFile(string fileName)
  {
    MathSheet = File.ReadAllText(fileName);
    ParseSheet();
  }

  void ResetEverything()
  {
    MathSheet = "";
  }

  void ParseSheet()
  {
    Total = 0;
    Equations = [];

    CharGrid grid = MathSheet.Split(["\r\n", "\r", "\n"], StringSplitOptions.RemoveEmptyEntries).ToGrid2D(' ');

    // Split into individual equations
    var transposedEquations = grid.Columns.SplitOn(col => col.All(c => c == ' '));

    // Reform those equations
    var equations = transposedEquations.Select(eq => eq.ToGrid2D(' ').Columns.Select(c => c.FormString()).ToArray());

    foreach (string[] eqa in equations)
    {
      var equation = eqa.Where(n => n.Trim() != "");
      var numberLines = equation.SkipLast(1);
      var numbers = numberLines.Select(s => long.Parse(s.Trim()));
      var operation = equation.Last().Trim() switch {
        "+" => D6Operation.Addition,
        "*" => D6Operation.Multiplication,
        _ => D6Operation.Unknown
      };
      var increasing = numbers.First() < numbers.Last();
      var alignment = numberLines.Any(s => s.StartsWith(' ')) ? D6Alignment.RightAligned :
        numberLines.Any(s => s.EndsWith(' ')) ? D6Alignment.LeftAligned : D6Alignment.Unknown;

      var newEquation = new D6Equation(alignment, increasing, operation, numbers);
      Equations.Add(newEquation);
      Total += newEquation.Result;
    }
  }

  public record struct D6Equation(D6Alignment Alignment, bool Increasing, D6Operation Operation, params IEnumerable<long> Values)
  {
    public long Result => Operation switch {
      D6Operation.Multiplication => Values.Aggregate((l, r) => l * r),
      _ => Values.Sum()
    };
  }

  public enum D6Alignment
  {
    LeftAligned = -1,
    Unknown = 0,
    RightAligned = 1
  }

  public enum D6Operation
  {
    Unknown = 0,
    Addition = 1,
    Multiplication = 2
  }
}